<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="bootstrap" type="DevExpress.Web.Bootstrap.BootstrapConfigurationSection, DevExpress.Web.Bootstrap.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BPColSysOP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="resizer" type="ImageResizer.ResizerSection,ImageResizer" requirePermission="false"/>
  </configSections>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>iY5KOD0vl4fsjKrrK+WO30Qq1E+4FBxnboiL+g9Ulmtpq02zvgJE6GGcG+7G/ZFPz7WHIgxw+NgXRxfqrec4SwrsGYDWvkwgFP/Zqng/1NE23IpmhXIsMO134CHiMDDl1wWSKGrje8ZGNmG5DIZCfg2hi9MAppvlAdKDynH40njbQ1Mbg98diTCg5wmWi71/EnFcM1vret5YZ9E7Qixx1DdgtbYMHvtNs49hdNOYr5yrB+2xHaznPmzx9F50VY6ofpPodkJHWTipFr0S9a0x6dP9pRvHCvCrEPn+U/NPLZVfzRIjH36e/IDueasdoFH0bFgQ4bh4JTAehfnjTkCZVQ==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>tHR95E9fWHGFzwoOfklGT9Iediv6C/83oNY5dXHI4EToUzwrx1Z+BvrnDY6Gmkf96B8F2KETsDToKdYYU8maDzzjpvfqgvT1a7V3075bqohpZg1Ru6E2vSi0c30xFl1kTBpf20ukHiTh8jjc94CNU3zh8HYbdETLUopWPfLfjYYQl+uR+l3atBHMgLhMkTD88SfxdzmOghUfTA+sMzqmnG7d0qEKshZ3f2EMI0wxcRpyQvPiDNcAU72crxZ2QRDqnAs8e1ThX5GiXz2ChH6Yti0RKPU7bLAWF2rvKpEjhO+iSebQPzC2B4gAKef7I5fD3Oc0dLq89OLCpe+VBwPUxpry/8KyNYefNDRv2wQJymyzYqx5qnjNJBZEJDpI2P7UWF7HvmNFnpVpx0cO6Myoi4FaL9Ch14vAg5Nw9ksXx645/n+o0fXaiMETNahmxOcqTkrudS0c0FlE/KtGRiCCTL9DWMblLq8FJXQuPAQGAdSmbu1r7xbrXVg/fGgh91E16UrYtFi4BG7Ep9dqznJfupg9rJc3s9rrqUlH40S2yqj0qJRctbPKx9cBJmPVY8P39nG+KSg53eXmLZ2iChJ7gnhJifMXhtOd+B/L58EadUVG9nv6d5CgbwxR2+FjZBCw</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="5000"/>
    <add key="perfilAdminFacturaPendiente" value="80;15"/>
    <add key="UrlWSOfficeTrack" value="http://latam.officetrack.com/services/TaskManagement.asmx"/>
    <add key="logo" value="/images/logo_trans.png"/>
    <add key="nombreSitio" value="http://cos8/notusils"/>
    <add key="mailServer" value="colbogsa062"/>
    <add key="mailSender" value="system.notifier@logytechmobile.com"/>
    <add key="credenciales" value="system.notifier;12345.LM;LM"/>
    <add key="infoClienteDespachoOrigenCAD" value="1000-1001;4100-4101;7000-7001;1002-1003;1002-1004;1007-1007;4105-4105;7005-7005"/>
    <add key="horaConsultaInicial" value="8:00:00"/>
    <add key="horaConsultaFinal" value="8:00:00"/>
    <add key="idGrupoDevolucionDevEspecial" value="16"/>
    <add key="TipoRecepcionDefault" value="1"/>
    <add key="UnidadesCajaDefault" value="10"/>
    <add key="CajasEstibaDefault" value="100"/>
    <add key="TipoInstruccionDefault" value="2"/>
    <add key="maximoMIN" value="10"/>
    <add key="MaterialSimWB" value="1631,1632,1633,1634,1635,1636,7029,7028,7026,6852,6853,6854,10503,10504,10505,11613,11614,11617,11618,11621,11622,12047,12056,12057"/>
    <add key="facturaOrdenRegionDevolucionCADENAS" value="6718|145581|OR"/>
    <add key="idPosFaltante" value="1284"/>
    <add key="logitudSerial" value="15"/>
    <add key="diasReportePorcentaje" value="5"/>
    <add key="SITIOBASE" value="http://cos8/notusils/"/>
    <add key="idUsuarioEvaluarOTNC" value="2998"/>
    <add key="usuariosAutorizadoOpcMarcarNCDevoluciones" value="2996"/>
    <add key="idNCMuertoEnCaja" value="10"/>
    <add key="longSerialSim" value="15,17"/>
    <add key="diasPermitidosDEVCADNormal" value="30"/>
    <add key="ClasificacionCierre" value="6"/>
    <add key="NovedadCierre" value="28"/>
    <add key="enviaUserCredentials" value="JOSVEZ01|D34ABT6"/>
    <add key="proxyAddress" value="http://192.168.5.1:3128"/>
    <add key="WSEnviaProxyCredentials" value="envia|12345.LM|LM"/>
    <add key="TextType" value="^.*(([^\.][\.][tT][xX][tT]))$"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <!--Llaves para OfficeTrack idDatabase, UserName, password-->
    <add key="idDatabase" value="11"/>
    <add key="UserName" value="LogytechCEM"/>
    <add key="password" value="khg354gsGFd5salk24Juyfg"/>
    <add key="UrlApiPresence" value="https://colbogccsa233.logytechmobile.com/administratorrest/"/>
    <add key="UrlApiPresenceDes" value="https://172.20.29.233/administratorrest/"/>
    <add key="UrlWebServicesPresence" value="https://pcoserverws.logytechmobile.com:4443/pcoserverws/pcoserverws.dll/SOAP"/>
    <add key="dominio" value="logytechmobile.com"/>
    <add key="ipGateway" value="192.168.20.9"/>
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false"/>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false"/>
      <add validate="false" verb="GET,POST" path="DXDD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
      <add validate="false" verb="GET,POST" path="DXXRDV.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
      <add validate="false" verb="GET,POST" path="DXXRD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
      <add validate="false" verb="GET,POST" path="DXQB.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
      <add validate="false" verb="GET,POST" path="DXXCD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
    </httpHandlers>
    <httpRuntime maxRequestLength="65536" requestLengthDiskThreshold="24576" executionTimeout="3600"/>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="vb" targetFramework="4.8" debug="true">
      <assemblies>
        <add assembly="DevExpress.Web.ASPxPivotGrid.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.PivotGrid.v18.1.Core, Version=18.1.17.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Data.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraPrinting.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Printing.v18.1.Core, Version=18.1.17.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.RichEdit.v18.1.Core, Version=18.1.17.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="DevExpress.Web.ASPxThemes.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.XtraReports.v18.1.Web.WebForms, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add assembly="DevExpress.Web.Bootstrap.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Data.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Printing.v18.1.Core, Version=18.1.17.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.Bootstrap.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Web.ASPxScheduler.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraScheduler.v18.1.Core, Version=18.1.17.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraReports.v18.1.Web, Version=18.1.17.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraReports.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.DataAccess.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraCharts.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Charts.v18.1.Core, Version=18.1.17.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.Sparkline.v18.1.Core, Version=18.1.17.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
        <add assembly="DevExpress.XtraGauges.v18.1.Core, Version=18.1.17.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <customErrors mode="Off"/>
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Windows"/>
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <allow users="*"/>
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="20" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="es-CO" uiCulture="es-CO"/>
    <pages enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.ASPxPivotGrid" assembly="DevExpress.Web.ASPxPivotGrid.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.XtraReports.Web" assembly="DevExpress.XtraReports.v18.1.Web, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.XtraReports.Web" assembly="DevExpress.XtraReports.v18.1.Web.WebForms, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
        <add tagPrefix="dx" namespace="DevExpress.Web.Bootstrap" assembly="DevExpress.Web.Bootstrap.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
      </controls>
    </pages>
    <httpModules>
      <add name="EOWebRuntime" type="EO.Web.Runtime,EO.Web"/>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
      <!-- This is for IIS5, IIS6, and IIS7 Classic, and Cassini/VS Web Server-->
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode"/>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode"/>
      <add name="WebDashboardHandler" preCondition="integratedMode" verb="GET,POST" path="DXDD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
      <add name="ASPxWebDocumentViewerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXRDV.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
      <add name="ASPxReportDesignerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXRD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
      <add name="ASPxQueryBuilderDesignerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXQB.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
      <add name="ASPxChartDesignerHandlerModule" preCondition="integratedMode" verb="GET,POST" path="DXXCD.axd" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.17.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
      <!-- This is for IIS7+ Integrated mode -->
      <add name="ImageResizingModule" type="ImageResizer.InterceptModule"/>
    </modules>
  </system.webServer>
  <devExpress>
    <bootstrap mode="Bootstrap4" iconSet="Embedded"/>
    <resources>
      <add type="ThirdParty"/>
      <add type="DevExtreme"/>
    </resources>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="DevEx" customThemeAssemblies="" baseColor="" font=""/>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true"/>
    <settings rightToLeft="false" accessibilityCompliant="false" bootstrapMode="" doctypeMode="Html5" checkReferencesToExternalScripts="true" protectControlState="true" ieCompatibilityVersion="edge"/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>
  <resizer>
    <!-- Unless you (a) use Integrated mode, or (b) map all reqeusts to ASP.NET, 
          you'll need to add .ashx to your image URLs: image.jpg.ashx?width=200&height=20 -->
    <pipeline fakeExtensions=".ashx"/>
    <plugins>
      <add name="MvcRoutingShim"/>
      <add name="DiskCache"/>
      <!-- <add name="PrettyGifs" /> -->
      <!-- <add name="SimpleFilters" /> -->
      <!-- <add name="S3Reader" /> -->
    </plugins>
  </resizer>
  <applicationSettings>
    <BPColSysOP.My.MySettings>
      <setting name="BPColSysOP_SAPAdicionDeclaracion_WS_ADICION_DECLARACION_LG" serializeAs="String">
        <value>http://172.22.85.60:50000/WS_ADICION_DECLARACION_LG/Config1?style=document</value>
      </setting>
      <setting name="BPColSysOP_SAPConsultarEntrega_WS_INV_ENTREGA_LG" serializeAs="String">
        <value>http://172.22.85.60:50000/WS_INV_ENTREGA_LG/Config1?style=document</value>
      </setting>
      <setting name="BPColSysOP_SAPConsultarInventario_WS_INVENTARIO_LG" serializeAs="String">
        <value>http://172.22.85.60:50000/WS_INVENTARIO_LG/Config1?style=document</value>
      </setting>
      <setting name="BPColSysOP_SAPContabilizacionEntrada_WS_ENTRADAS_LG" serializeAs="String">
        <value>http://172.22.85.60:50000/WS_ENTRADAS_LG/Config1?style=document</value>
      </setting>
      <setting name="BPColSysOP_SAPImpresionDocumentos_WS_PDF_LG" serializeAs="String">
        <value>http://172.22.85.60:50000/WS_PDF_LG/Config1?style=document</value>
      </setting>
      <setting name="BPColSysOP_SAPMaestroAlmacenes_WS_MAESTRO_CENTRO_LG" serializeAs="String">
        <value>http://172.22.85.60:50000/WS_MAESTRO_CENTRO_LG/Config1?style=document</value>
      </setting>
      <setting name="BPColSysOP_SAPMaestroDestinatarios_WS_MAESTRO_DESTINATARIO_LG" serializeAs="String">
        <value>http://172.22.85.60:50000/WS_MAESTRO_DESTINATARIO_LG/Config1?style=document</value>
      </setting>
      <setting name="BPColSysOP_SAPMaestroListaPrecios_WS_MAESTRO_LPRECIOS_LG" serializeAs="String">
        <value>http://172.22.85.60:50000/WS_MAESTRO_LPRECIOS_LG/Config1?style=document</value>
      </setting>
      <setting name="BPColSysOP_SAPMaestroMateriales_WS_MAESTRO_MATERIAL_LG" serializeAs="String">
        <value>http://172.22.85.60:50000/WS_MAESTRO_MATERIAL_LG/Config1?style=document</value>
      </setting>
      <setting name="BPColSysOP_SAPPoolPedidos_WS_PEDIDOS_LG" serializeAs="String">
        <value>http://172.22.85.60:50000/WS_PEDIDOS_LG/Config1?style=document</value>
      </setting>
      <setting name="BPColSysOP_SAPZmmCapser_WS_CAPSER_LG" serializeAs="String">
        <value>http://172.22.85.60:50000/WS_CAPSER_LG/Config1?style=document</value>
      </setting>
      <setting name="BPColSysOP_WSConsultarGuiasDeEnvia_Service1" serializeAs="String">
        <value>http://200.69.100.66/EnviaWSLeEc/Service1.asmx</value>
      </setting>
    </BPColSysOP.My.MySettings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LMCemServiceSoap"/>
        <binding name="NotusIlsServiceSoap"/>
        <binding name="PcowsServiceBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="PcowsServiceBinding1"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/LMCEMService/LMCemService.asmx" binding="basicHttpBinding" bindingConfiguration="LMCemServiceSoap" contract="LMCemService.LMCemServiceSoap" name="LMCemServiceSoap"/>
      <endpoint address="http://colbogsa025.logytechmobile.com/notusilsdemo/WebServices/NotusIlsService.asmx" binding="basicHttpBinding" bindingConfiguration="NotusIlsServiceSoap" contract="LMCemService.NotusIlsServiceSoap" name="NotusIlsServiceSoap"/>
      <endpoint address="https://pcoserverws.logytechmobile.com/pcoserverws/pcoserverws.dll/SOAP?service=PcowsService" binding="basicHttpBinding" bindingConfiguration="PcowsServiceBinding" contract="referenciaws.PcowsService" name="PcowsServicePort"/>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 6F5810CD-5D77-4B70-B6E8-7EB7C8979B07-->