/* ------------------------------------ *
 CSS
 martes, 31 de mayo de 2005 9:32:08
Archivo de estilos para Modulo Kits Empleados
 * ------------------------------------ */
.tablapequena
{
  font-family: arial;
  font-size:10;
}

A:link {text-decoration:none;color:#000000;font-size:10pt;font-family: verdana; font-weight:bold;}
A:visited {text-decoration:none;color:#000000;font-size:10pt;font-family: verdana; font-weight:bold;}
A:active {text-decoration:none;color:#0280BF;font-size:10pt;font-family: verdana; font-weight:bold;}
A:hover {text-decoration:underline;color:#0280BF;font-size:10pt;font-family: verdana; font-weight:bold;}

.celdaTitulo
{ background-color:#E3E3E3;
  font-weight:bold;
}

.encabezadoDev
{ background-color:#a52a2a;
  color:White;
  font-weight:bold;
  text-align:center;
}

.celdaDif
{ background-color:green;
  color:White;
  font-weight:bold;
  text-align:center;
}

.alterColor
{
  background-color:#eee9e9;
}

.cuerpo
{
    background-color: #FFC726;
    font-family : verdana;
}

.cuerpo2
{
	background-color: #FFFFFF;
    font-family : verdana;
    background-image: url("../images/baloons_small.png") ;
    background-repeat: no-repeat;
    background-position:bottom right;    
}


.boton {
  font-size:11px;
  font-family:Verdana;
  font-weight:bold;
  color:#000000;
  background:#DDDDDD;

}

.boton2{
  font-size:11px;
  font-family:Verdana;
  font-weight:bold;
  color:#000000;
  background:#EEE9E9;
}


.botonWB {
  font-size:11px;
  font-family:arial;
  font-weight:bold;
  color:#FF7F00;
  background:#FFFFFF;

}

select
{
  font-family:Verdana;
  font-size:11;
}

.textbox
{
  font-family:Verdana;
  font-size:11;
}

.fuente
{
  font-family:Verdana;
  font-size:11;
}

/*estilo para la tabla de menus*/

.tablamenu
{
  font-family: verdana;
  font-size:12;
  font-weight:bold;
  border-color:"#FFA824";
/*  border-style:solid;
  border-width:1px;
  border-color:#000000;*/
  background-color:#FFA824;
}
.cuerpowb
{
    background-color: #E3E3E3;
    background-image: 
    url('../images/backgroundWB.gif');
    background-repeat: no-repeat;
    background-position:bottom right;
}

.celdaTituloIT
{ background-color:#000099;
    font-weight:bold;
    color:White;
}

h5,H4
{
	color: #4b4b4b;
	font-family: Arial, Tahoma;
	margin-bottom:1px;
}

.tablaNormal{ font-family: arial;  font-size:11px;}

/*manejo de grillas*/
.tabla{ font-family: arial;  font-size:12px;  color:"#000000";  border: solid  1px #EEEEEE;  background-color:#ffffff}
.header , .pager { background-color :#8F338F; border: solid 1px #ffffff; margin: 2px 10px 2px 10px;font-family: Arial;background-image:url(../images/degradado.png);

 text-align: center;    color: #ffffff; font-size: 9pt; font-weight: bold;  padding-left:5px;margin-right:5px }
 .footer
{
	border-right: #ffffff 1px solid;
	padding-right: 2px;
	border-top: #ffffff 1px solid;
	padding-left: 2px;
	font-weight: bold;
	font-size: 10pt;
	background-image: url(../images/degradado.png);
	padding-bottom: 2px;
	margin: 10px;
	border-left: #ffffff 1px solid;
	color: #000000;
	padding-top: 2px;
	border-bottom: #ffffff 1px solid;
	font-family: Arial;
	background-color: whitesmoke;
	text-align: center;
}

.alternatingItem{	background-color: #f5f5f5;}

.tabla  A {text-decoration:none;color:#0280BF;font-size:10pt;font-family: arial;}
.tabla  A:visited {text-decoration:none;color:#0280BF;font-size:10pt;font-family: arial;}
.tabla  A:active {text-decoration:none;color:#0280BF;font-size:10pt;font-family: arial;}
.tabla  A:hover {text-decoration:underline;color:#0280BF;font-size:10pt;font-family: arial;}

.pager  a{padding-right: 15px;padding-left: 15px;padding-bottom: 0px;color: #000000;padding-top: 0px;font-family: Arial;text-decoration: none;}
.pager  a:hover{color: #f5f5f5;	font-family: Arial;	text-decoration: underline;}
.pager  a:visited { color: 000000; font-family: Arial}
.pager  a:active { color: #f5f5f5; font-family: Arial }
.lista{list-style-image: url(../images/vineta.png)}
.listaHorizontal a{text-align:left }

