/* ------------------------------------ *
 CSS
 martes, 31 de mayo de 2005 9:32:08
Archivo de estilos para Modulo Kits Empleados
 * ------------------------------------ */
.tabla
{
  font-family: arial;
  font-size:12;
  font-weight:bolder;
}
/*a:visited
{
color: #FFFFFF;
} */

A:link {text-decoration:none;color:#000000;font-size:8pt;font-family: verdana}
A:visited {text-decoration:none;color:#000000;font-size:8pt;font-family: verdana}
A:active {text-decoration:none;color:#9932CC;font-size:8pt;font-family: verdana}
A:hover {text-decoration:underline;color:#9932CC;font-size:8pt;font-family: verdana}


.cuerpo
{
    background-color: #FFC726;
    font-family : verdana;
}

.cuerpo2
{
    background-color: #FFFFFF;
    font-family : verdana;
    background-image: url("../images/baloons_small.png") ;
    background-repeat: no-repeat;
    background-position:bottom right;   
}


.boton {
  font-size:11px;
  font-family:Arial;
  font-weight:bold;
  color:#000000;
  background:#FFD700;

}

.botonWB {
  font-size:11px;
  font-family:Verdana;
  font-weight:bold;
  color:#000000;
  background:#FFFFFF;

}

select
{
  font-family:Verdana;
  font-size:11;
}

.textbox
{
  font-family:arial;
  font-size:11;
}
.textarea
{
  font-family:arial;
  font-size:11;
  background-color:#FFFFCC; 
}

.fuente
{
  font-family:Verdana;
  font-size:11;
}

/*estilo para la tabla de menus*/

.tablamenu
{
  font-family: arial;
  font-size:10;
}
 .td
{
 font-size : 10pt;
 font-family : arial;
 background-color :#FFD700;
}

 .tdform
{
 font-size : 10pt;
 font-family : arial;
 font-weight:bolder;
 color:#993300;
 background-color :#ffffff;
}

.cuerpowb
{
    background-color: #E9E9E9;
    background-image: 
    url('../images/backgroundWB.gif');
    background-repeat: no-repeat;
    background-position:bottom right;
}

